       body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #fdf4ff;
}

h1 {
    text-align: center;
    color: purple;
}

h2 {
    color: #b300b3;
    margin-top: 40px;
}

ul {
    font-size: 18px;
}

.fila-imagenes {
    display: flex;
    gap: 20px;
    margin-top: 15px;
    flex-wrap: wrap;
}

.fila-imagenes img {
    width: 280px;
    height: 280px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #d19cd1;
}

form {
    margin-top: 30px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    border: 2px solid #d19cd1;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #b300b3;
}

input[type="submit"] {
    background-color: purple;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

iframe {
    margin-top: 20px;
    border-radius: 10px;
}

.encima {
    background-color: rgb(183, 215, 252);
    padding: 10px;
    width: fit-content;
}

.encima:hover {
    background-color: #b3d4ff;
}
