body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #fdf4ff;
}

/* position: sticky */
h1 {
    text-align: center;
    color: purple;
    position: sticky;
    top: 0;
    background-color: #fdf4ff;
    padding: 10px;
    z-index: 10;
}

/* position: static */
h2 {
    position: static;
    color: #b300b3;
    margin-top: 40px;
}

ul {
    font-size: 18px;
}

/* FLEX CONTAINER */
.fila-imagenes {
    display: flex;
    flex-direction: row;          /* flex-direction */
    justify-content: space-around;/* justify-content */
    align-content: center;        /* align-content */
    flex-wrap: wrap;              /* flex-wrap */
    gap: 20px;
    margin-top: 15px;
}

/* FLEX ITEMS */
.fila-imagenes img {
    flex-basis: 250px;  /* flex-basis */
    flex-grow: 1;       /* flex-grow */
    flex-shrink: 1;     /* flex-shrink */

    width: 280px;
    height: 280px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #d19cd1;
}

form {
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    border: 2px solid #d19cd1;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #b300b3;
}

input[type="submit"] {
    background-color: purple;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #b300b3;
}

iframe {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}

/* hover */
.encima {
    background-color: rgb(183, 215, 252);
    padding: 10px;
    width: fit-content;
    transition: background-color 0.3s ease;
}

.encima:hover {
    background-color: #b3d4ff;
}

/* Marca */
.marca {
    color: #b300b3;
    font-weight: bold;
}

/* position: absolute */
.aviso {
    position: relative;
    margin-top: 30px;
}

.oferta {
    position: absolute;
    top: -10px;
    right: -20px;
    background-color: blue;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}